
.banners {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    max-width: 1600px;
    width: 90%;
    margin: 50px auto;

    .banner {
        justify-self: center;
        width: 250px;
        position: relative;
        clip-path: inset(0 0 100% 0);
        // transform: translateY(50px);

        button {
            cursor: url("/icons/hand-pointer-solid.svg"), pointer;
            font-family:'Hachi Maru Pop', cursive;
            text-align: center;
            position: absolute;
            left: 0;
            bottom: 1.3%;
            width: 100%;
            height: 78px;
            background: rgba(224, 123, 167, 0.3);
            color: white;
            border: none;
            transition: 0.3s;
        }

        &:hover button {
            background: $pink;
        }

        img {
            cursor: url("/icons/hand-pointer-solid.svg"), pointer;
            width: 100%;
            height: 200px;
            object-fit: cover;
            box-shadow: 0px -2px 15px 5px black;

            @media(max-width: 768px){
                object-position: 50% 0%;
            }
         }
    }
}
