

@media (max-width: 600px){
    .iframe-section {
        height: 250px
    }

    .banners {
        gap: 10px;
        .banner {
            // width: 150px;
        }
    }

    header .desktop-cover {
        display: none;
    }

    header .mobile-cover {
        display: block;
        height: 100%;
    }
}



@media (max-width: 1025px){

    * {
        cursor: default;
    }
    
    header .cover{
        position: relative;
        clip-path: inset(0 0 0% 0);
        border: 0px solid $dark-green;
    }

    header .scroll-down {
        display: none;
    }

    header .grass {
        opacity: 1;
        clip-path: inset(0 0 0 0%);
        transform: translateY(0);
    }
    .cover {
        height: 45vw;
    }

    .banners {

        .banner {
            opacity: 0;
            clip-path: inset(0 0 0% 0);
          
            img {
                transform: translateY(-5px);
            
            }
        
            button {
                height: 50px;
                line-height: 50px;
                background: $pink;
                bottom: 0;
            }
        }
    }

    .pitch, .form-section {
        font-size: 15px;
        margin: 50px auto;
    }

    .pitch {
        margin-top: 100px;
    }
    
    .swiper {
        height: 300px;
        width: 90%;
        .swiper-button-prev {
            padding-right: 0px;
            left: 10px !important;
        }
        
        .swiper-button-next {
            padding-left: 5px;
            right: 10px !important;
        }
    }

    footer .social {
        gap: 100px;
    }

    
}

