
.pitch {
    text-align: justify;
    color: $light-green;
    max-width: 1200px;
    width: 90%;
    margin: 100px auto;
    font-size: clamp(15px, 1.5em, 25px);
    line-height: 1.8em;

    ul {
        list-style: none;
        list-style-position: inside;
    }

    li {
        margin: 10px 0;
    }
}