.scroll-down {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;
    color: white;
    position: absolute;
    width: 150px;
    top: 30vw;
    left: 0;
    right: 0;
    margin: auto;

    p {
        opacity: 0;
        transform: translateY(-20px);
    }

    .dot-1 {
        width: 20px;
        height: 20px;
        background: white;
        border-radius: 30px;
        animation: 1s dots infinite alternate;
        animation-delay: 0.2s;
        scale: 0;
        opacity: 0;
    }

    .dot-2 {
        width: 15px;
        height: 15px;
        background: white;
        border-radius: 20px;
        animation: 1s dots infinite alternate;
        animation-delay: 0.4s;
        scale: 0;
        opacity: 0;
    }

    .dot-3 {
        width: 10px;
        height: 10px;
        background: white;
        border-radius: 10px;
        animation: 1s dots infinite alternate;
        animation-delay: 0.6s;
        scale: 0;
        opacity: 0;
    }
}


@keyframes dots {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(0.8);
    }
}
